Repository mfem/PyMFEM, pull requests merged in 2024-01, with the labels that each got.

#195 Added field_diff.py version of field-diff.cpp miniapp example
  miniapps/gslib/field_diff.py
Labels: enhancement

#198 minumum changes to build PyMFEM with MFEM4.6
  README.md
  docs/changelog.txt
  docs/manual.txt
  mfem/__init__.py
  mfem/_ser/array.i
  miniapps/gslib/field_diff.py
Labels: in-test-with-mfem-release

#206 Fix release workflow
  .github/workflows/release_binary.yml
  .github/workflows/testrelease_binary.yml
  mfem/__init__.py
Labels: in-test-with-mfem-master, in-test-with-mfem-release

#207 Address an issue with ElasticityComponentIntegrator
  docs/development_memo.txt
  mfem/__init__.py
  mfem/common/generate_bilininteg_ext.py
Labels: bug, in-test-with-mfem-master, in-test-with-mfem-release
